<div class="container">
<%= form_with(model: load) do |form| %>
  <% if load.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(load.errors.count, "error") %> prohibited this load from being saved:</h2>

      <ul>
        <% load.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="form-group">
    <%= form.label :customer_id %>
    <%= form.collection_select :customer_id, Customer.all, :id, :name, prompt: true %>
  </div>


  <div>
    <%= form.label :origin, style: "display: block" %>
    <%= form.text_field :origin %>
  </div>

  <div>
    <%= form.label :destination, style: "display: block" %>
    <%= form.text_field :destination %>
  </div>

  <div>
    <%= form.label :pickup_date, style: "display: block" %>
    <%= form.date_field :pickup_date %>
  </div>

  <div>
    <%= form.label :delivery_date, style: "display: block" %>
    <%= form.date_field :delivery_date %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
</div>