
<div id="<%= dom_id load %>">
  <p>
    <strong>Origin:</strong>
    <%= load.origin %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= load.destination %>
  </p>

  <p>
    <strong>Pickup date:</strong>
    <%= load.pickup_date %>
  </p>

  <p>
    <strong>Delivery date:</strong>
    <%= load.delivery_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= load.status %>
  </p>

</div>
